<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="fragments/layout">
<head>
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-store"/>
    <meta http-equiv="Expires" content="0" />
    <meta charset="utf-8" />
    <title>Title</title>
</head>
<body>
    <h3 th:text="${result}">hello world</h3>
    <div class="locationLine" layout:fragment="prompt">
        当前位置：首页 &gt; <em >部门管理</em>
    </div>
    <div class="statisticBox w-782"  layout:fragment="content">
        <form id="queryForm" method="get">
            <div class="radiusGrayBox782">
                <div class="radiusGrayTop782"></div>
                <div class="radiusGrayMid782">
                    <div class="dataSearchBox forUserRadius">
                        <ul>
                            <li>
                                <label class="preInpTxt f-left">名称</label>
                                <input type="text" class="inp-list f-left w-200" value="" id="name" name="name"/>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="blueBtn-62X30 f-right" id="searchBtn">查询</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="newBtnBox">
                <a id="addUserInf" class="blueBtn-62X30" href="javascript:void(0)">新增</a>
            </div>
            <div class="dataDetailList mt-12">
                <table class="dataListTab">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>名称</th>
                        <th>日期</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="tbodyContent">
                    </tbody>
                </table>
                <div class="tableFootLine">
                    <div class="pagebarList pagination"/>
                </div>
            </div>
        </form>
    </div>
</body>
</html>