<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bokecc.boot.mapper.RoleMapper">
    <!--mybatis默认开启自动映射功能-->
    <resultMap id="roleMap" type="role">
        <id column="id" property="id"/>
        <result column="role_name" property="roleName"/>
        <result column="note" property="note"/>
    </resultMap>
    <sql id="base_column">
        id,role_name,note
    </sql>
    <select id="findByRoleName" parameterType="String" resultMap="roleMap">
        select
        <include refid="base_column"/>
        from t_role where role_name = #{roleName}
    </select>
    <select id="findByStudentId" parameterType="long" resultMap="roleMap">
        select
        <include refid="base_column"/>
        from t_role where student_id = #{studentId}
    </select>
</mapper>